

<!--Navbar---------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Mongo News Scraper</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			<form class="navbar-form navbar-left" role="search">
				<button type="button" class="btn btn-info" id="scrapeButton" data-toggle="modal" data-target="#confirmScrape">Scrape New Articles</button>
<!--				<button type="button" class="btn btn-info" id="clearUnsaved" >Clear Unsaved Articles</button>-->
			</form>
		</div>
	</div>
</nav>


<!--No Articles Alert---------------------------------------------------------------------------------------------------------------->
<!--
<div class="container" id="noArticles">
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button> TThere are currently no articles scraped into the database. Please click <strong>Scrape New Articles</strong>to scrape news from New York Times
	</div>
</div>
-->


<!--Container holding Articles---------------------------------------------------------------------------------------------------------------->
<div class="container" id="articlesContainer">
	{{#each articles}}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{{title}}</h3>
		</div>		
		<div class="panel-body">
			{{summary}}
		</div>		
		<div class="panel-footer">
			<a class="btn btn-default" href="{{link}}" id="linkButton">Go to Article</a>			
			<button class="btn btn-default commentButton" data-toggle="modal" data-target="#commentModal" data_id="{{_id}}">Comments</button>
<!--			<button id="saveArticleButton" class="btn btn-default" data_id="{{_id}}">Save Article</button>			-->
		</div>
	</div>
	{{/each}}
</div>


<!--modals--------------------------------------------------------------------------------------------------------->

<!--Modal confirming scrape-->
<div class="modal" id="confirmScrape" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<h3><strong>Well done!</strong> You have successfully scraped new articles!</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="reloadToDisplay" href="/all" value="Refresh Page" onClick="window.location.reload()">Close</button>
			</div>
		</div>
	</div>
</div>


<!--Modal to bring up Comments and allow user to create a Comment-->
<div class="modal" id="commentModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title">Comments</h2>
			</div>
			<div class="modal-body" >
				
				<div id="commentBox">
				
				</div>
					
				<div class="form-group">
					<label class="control-label" for="inputLarge">Add Comment</label>
					<input class="form-control input-lg" type="text" id="userComment">
				</div>

			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-default">Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal" id="saveComment" data_id= "">Submit</button>
				
			</div>
		</div>
	</div>
</div>


